<div class="page page-channel">




  <!-- page header -->
  <div class="pageheader">

    <h3>#Grocery Shopping</h3>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">

    <ul class="channels p-0 list-unstyled">
      <li>
        <div class="media">
          <div class="pull-left thumb">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt="">
          </div>
          <div class="media-body">
            <p class="media-heading mb-0">
              <a href="#" class="name mr-5">Wood Walton</a><span class="label bg-primary">Question</span>
              <span class="datetime pull-right"><i class="glyphicon glyphicon-time mr-10"/>Just now</span>
            </p>
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
              <p class="mb-0">
                <button type="button" class="btn btn-default btn-xs active"><i class="fa fa-thumb-tack"/>Pinned</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-eye"/>Show Answers</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-mail-reply"/>Reply</button>
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="pull-left thumb">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt="">
          </div>
          <div class="media-body">
            <p class="media-heading mb-0">
              <a href="#" class="name mr-5">Mike Stuart</a><span class="label bg-drank">Poll</span>
              <span class="datetime pull-right"><i class="glyphicon glyphicon-time mr-10"/>39 minutes ago</span>
            </p>
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
              <p class="mb-0">
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumb-tack"/>Pinned</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-bar-chart-o"/>Answer Poll</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-bar-chart-o"/>View Poll</button>
              </p>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="pull-left thumb">
            <img class="media-object img-circle" src="images/random-avatar3.jpg" alt="">
          </div>
          <div class="media-body">
            <p class="media-heading mb-0">
              <a href="#" class="name mr-5">Robin Wills</a><span class="label bg-success">Event</span>
              <span class="datetime pull-right"><i class="glyphicon glyphicon-time mr-10"/>1 hour ago</span>
            </p>
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
              <p class="mb-0">
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumb-tack"/>Pin This</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-calendar"/>View Event Details</button>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    
    <div class="new-post">
      <div class="media">
        <div class="pull-left thumb">
          <img class="media-object img-circle" src="images/profile-photo.jpg" alt="">
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Write your comment here">
          <span class="input-group-btn"><button class="btn btn-default" type="button">POST</button></span>
        </div>
      </div>
    </div>

  </div>
  <!-- /page content -->




</div>
