<header class="clearfix">

  <ul class="group-nav list-inline pull-left">

    <li class="dropdown" dropdown on-toggle="toggled(open)">

      <a href class="dropdown-toggle" dropdown-toggle ng-click="clickPlusButton()">
        <fa name="plus"></fa>
      </a>

      <div class="dropdown-menu pull-left with-arrow panel panel-default animated littleFadeInDown" style="margin-top: 7px; left: 7px; min-width: 160px; ">

        <div class="panel-heading pt-10 pb-10 pl-20">
          You have <strong>2</strong> options
        </div>

        <ul class="list-group">
          <li class="list-group-item p-20"><a ui-sref="app.grouplist">Join a Group</a></li>
          <li class="list-group-item p-20"><a ng-click="newGroup()" class="hover-cursor-pointer">Create a Group</a></li>
        </ul>
      </div>

    </li>
    <li ng-repeat="group in joinedGroup" ng-class="{active: group==currentGroup}"><a ui-sref="app.group.channel({group: '{{group.slug}}', channel: 'general'})"><span class="group-initial" ng-if="!group.icon || group.icon==''">{{group.initial}}</span><i class="fa {{group.icon}}" ng-if="group.icon"/><span class="group-title">{{group.title}}</span></a></li>
  </ul>

        
        <div class="off-canvas-sidebar b-r" ng-init="setOffCanvasSidebar()">
          <div class="list-group no-radius no-border">
            <a ui-sref-active="active" ui-sref="app.grouplist" class="list-group-item">
              Join a Group
            </a>
            <a ng-click="newGroup()" class="list-group-item hover-cursor-pointer">
              Create a Group
            </a>
            <a ng-repeat="group in joinedGroup" ng-class="{active: group==currentGroup}" ui-sref="app.group.channel({group: '{{group.slug}}', channel: 'general'})" class="list-group-item"><i class="fa {{group.icon}}" ng-if="group.icon"/> {{group.title}}</a>
          </div>
        </div>



  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">
    
    <li class="dropdown nav-profile" dropdown on-toggle="toggled(open)">

      <a href class="dropdown-toggle" dropdown-toggle>
        <img src="images/profile-photo.jpg" alt="" class="img-circle size-30x30">
        <span>John Douey <fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight">

        <li>
          <a ui-sref="app.profile">
            <span class="badge bg-greensea pull-right">86%</span>
            <fa name="user"></fa>Profile
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">new</span>
            <fa name="check"></fa>Tasks
          </a>
        </li>
        <li>
          <a href="#">
            <fa name="cog"></fa>Settings
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">2</span>
            <fa name="user"></fa>Requests
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">4</span>
            <fa name="envelope"></fa>Messages
          </a>
        </li>
        <li>
          <a href="#">
            <span class="label bg-lightred pull-right">3</span>
            <fa name="bell"></fa>Notifications
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <fa name="lock"></fa>Lock
          </a>
        </li>
        <li>
          <a href="#">
            <fa name="sign-out"></fa>Logout
          </a>
        </li>

      </ul>

    </li>

    <li class="toggle-right-sidebar">
      <a href="javascript:;" ng-click="main.settings.rightbarShow = !main.settings.rightbarShow">
        <fa name="comments"></fa>
      </a>
    </li>
  </ul>
  <!-- Right-side navigation end -->

</header>
</div>
