<div id="sidebar-wrap" ng-controller="NavCtrl">
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        Python Developers <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <h3 class="group-title">Python Developers</h4>
      <span class="heading">CHANNELS</span>
      <ul id="navigation" nav-collapse ripple>
        <li ui-sref-active="active"><a><span>#General</span></a></li>
        <li ui-sref-active="active" class="active"><a><span>#Nightlife</span></a></li>
        <li ui-sref-active="active"><a><span>#Grocery Shopping</span></a></li>
        <li ui-sref-active="active"><a><span>#Shopping</span></a></li>
        <li ui-sref-active="active"><a><span>#JustGirls</span></a></li>
        <li ui-sref-active="active"><a><span>#JustGuys</span></a></li>
        <li ui-sref-active="active"><a><span>#Restaurants</span></a></li>
        <li ui-sref-active="active"><a><span>#Deals</span></a></li>
      </ul>
      <span>Suggest a channel</span>

      <span class="heading">DIRECT MESSAGES</span>
      <ul id="navigation" class="direct-messages" nav-collapse ripple>
        <li><a><span class="status"></span><span class="">benjamin</span></a></li>
        <li><a><span class="status"></span><span>bntzio</span></a></li>
        <li><a><span class="status"></span><span>fullfathomv</span></a></li>
        <li><a><span class="status"></span><span>ianc</span></a></li>
        <li><a><span class="status"></span><span>joe</span></a></li>
        <li><a><span class="status"></span><span>kellyctalley</span></a></li>
        <li><a><span class="status"></span><span>samhealy</span></a></li>
      </ul>
      <span>+16 More...</span>
    </accordion-group>

  </accordion>
</div>
