<div id="sidebar-wrap" ng-controller="NavCtrl" collapse-sidebar>
  <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

    <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
      <accordion-heading>
        Python Developers <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
      </accordion-heading>
      <h3 class="group-title">
        <span class="initial">
          <span ng-if="!currentGroup.icon || currentGroup.icon==''">{{currentGroup.initial}}</span><i class="fa {{currentGroup.icon}}" ng-if="currentGroup.icon"/>
        </span>
        <span class="title">{{currentGroup.title}}</span>
      </h3>
      <span class="heading">CHANNELS</span>
      <ul id="navigation" nav-collapse ripple>
        <li ng-repeat="channel in channels" ng-class="{active: channel==currentChannel}">
          <a ng-href="{{$state.href('app.group.channel', {group: currentGroup.title, channel: channel.title})}}"><i class="fa {{channel.icon}}"/><span>#{{channel.title}}</span></a><a class="cog" ng-click="editChannel(channel)"><i class="fa fa-cog"/></a>
        </li>
      </ul>

      <div ng-controller="SuggestChannelCtrl">
        <div class="dropdown suggest-channel mt-10 mb-40" dropdown on-toggle="navtoggle(open)" auto-close="outsideClick" is-open="status.isopen">

          <a href class="dropdown-toggle text-default with-icon" dropdown-toggle>
            <i class="fa fa-cog"/><span class="mt-5 mb-5">Suggest a channel</span>
          </a>

          <div class="dropdown-menu pull-left with-arrow panel panel-default animated littleFadeInDown" style="margin-top: 15px;  min-width: 220px; ">

            <div class="panel-heading pt-10 pb-10 pl-20">
              Write the channel that you want
            </div>

            <div class="input-group">
              <input type="text" id="new_channel_input" class="form-control" placeholder="write here..." ng-model="newChannel">
              <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="submit($event);"><i class="fa fa-arrow-right"/></button></span>
            </div>

          </div>

        </div>
      </div>

      <ul id="navigation" class="direct-messages" nav-collapse ripple>
        <li ui-sref-active="active" class="open">
          <span><i class="fa fa-envelope-o" style="color:white"></i><span>DIRECT MESSAGES</span></span>
          <ul style="display:block">
            <li ng-repeat="user in users" ng-class="{active: user==chatWith}"><a ui-sref="app.group.chat({group:'{{currentGroup.title}}', user:'{{user.id}}'})"><span class="status"></span><span>{{user.id}}</span></a></li>
            <li><a><span>+16 More...</span></a></li>
          </ul>
        </li>
      </ul>
    </accordion-group>

  </accordion>
</div>
