<tabset justified="true">
  <tab id="info">
    <tab-heading>
      <fa name="info"></fa>
    </tab-heading>

    <h6>ABOUT THIS GROUP</h6>
    <p><small>Welcome to Feds On stack, this channel is for general talk. Please don't span.</small></p>
    <p><small>Created by Alex Volkov on<br/>December 31st, 2014.</small></p>

    <h6><strong>ONLINE</strong> USERS</h6>

    <ul>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/ici-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="online">
        <div class="media">

          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/arnold-avatar.jpg" alt>
          </a>
          <span class="badge bg-lightred unread">3</span>

          <div class="media-body">
            <span class="media-heading">Arnold <strong>Karlsberg</strong></span>
            <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
            <span class="badge badge-outline status"></span>
          </div>

        </div>
      </li>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/peter-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Peter <strong>Kay</strong></span>
            <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/george-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">George <strong>McCain</strong></span>
            <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="busy">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Lucius <strong>Cashmere</strong></span>
            <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="busy">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Jesse <strong>Phoenix</strong></span>
            <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>

    <h6><strong>OFFLINE</strong> USERS</h6>

    <ul>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar4.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Dell <strong>MacApple</strong></span>
            <small><i class="fa fa-map-marker"></i> Paris, France</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">

          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar5.jpg" alt>
          </a>

          <div class="media-body">
            <span class="media-heading">Roger <strong>Flopple</strong></span>
            <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
            <span class="badge badge-outline status"></span>
          </div>

        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar6.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Nico <strong>Vulture</strong></span>
            <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar7.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Bobby <strong>Socks</strong></span>
            <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>
  </tab>

  <tab id="mentions">
    <tab-heading>
      <fa name="at"></fa>
    </tab-heading>

    <h6>Mentions</h6>

    <ul class="mentions">
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>@JohnDoe: Last week I read an article about the injection of...</small><br/>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>@JohnDoe: Last week I read an article about the injection of...</small><br/>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>@JohnDoe: Last week I read an article about the injection of...</small><br/>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>@JohnDoe: Last week I read an article about the injection of...</small><br/>
          </div>
        </div>
      </li>
    </ul>
  </tab>

  <tab id="events">
    <tab-heading>
      <fa name="calendar"></fa>
    </tab-heading>
  </tab>

  <tab id="polls">
    <tab-heading>
      <fa name="bar-chart-o"></fa>
    </tab-heading>

    <h6>Polls</h6>

    <ul class="mentions">
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small>Best Javascript framework</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small>Best Javascript framework</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small>Best Javascript framework</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small>Best Javascript framework</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
    </ul>
  </tab>

  <tab id="questions">
    <tab-heading>
      <fa name="question"></fa>
    </tab-heading>
  </tab>

  <tab id="pinned_items">
    <tab-heading>
      <fa name="thumb-tack"></fa>
    </tab-heading>

    <h6>Pinned Items</h6>

    <ul class="mentions">
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>Meetup next friday at 19:00 with...</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>Meetup next friday at 19:00 with...</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>Meetup next friday at 19:00 with...</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small>Meetup next friday at 19:00 with...</small><br/>
            <a class="read-more">View more</a>
          </div>
        </div>
      </li>
    </ul>
  </tab>

  <tab id="sales">
    <tab-heading>
      <fa name="dollar"></fa>
    </tab-heading>
  </tab>

  
</tabset>
