<tabset justified="true" ng-init="resize()">
  <tab id="info">
    <tab-heading>
      <fa name="info"></fa>
    </tab-heading>

    <h6>ABOUT THIS GROUP</h6>
    <p>Welcome to Feds On stack, this channel is for general talk. Please don't span.</p>
    <p>Created by Alex Volkov on<br/>December 31st, 2014.</p>

    <h6><strong>ONLINE</strong> USERS</h6>

    <ul>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/ici-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
            <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="online">
        <div class="media">

          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/arnold-avatar.jpg" alt>
          </a>
          <span class="badge bg-lightred unread">3</span>

          <div class="media-body">
            <span class="media-heading">Arnold <strong>Karlsberg</strong></span>
            <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
            <span class="badge badge-outline status"></span>
          </div>

        </div>
      </li>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/peter-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Peter <strong>Kay</strong></span>
            <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="online">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/george-avatar.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">George <strong>McCain</strong></span>
            <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="busy">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar1.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Lucius <strong>Cashmere</strong></span>
            <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="busy">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar2.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Jesse <strong>Phoenix</strong></span>
            <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>

    <h6><strong>OFFLINE</strong> USERS</h6>

    <ul>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar4.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Dell <strong>MacApple</strong></span>
            <small><i class="fa fa-map-marker"></i> Paris, France</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">

          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar5.jpg" alt>
          </a>

          <div class="media-body">
            <span class="media-heading">Roger <strong>Flopple</strong></span>
            <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
            <span class="badge badge-outline status"></span>
          </div>

        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar6.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Nico <strong>Vulture</strong></span>
            <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar7.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Bobby <strong>Socks</strong></span>
            <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

      <li class="offline">
        <div class="media">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="images/random-avatar8.jpg" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">Anna <strong>Opichia</strong></span>
            <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
            <span class="badge badge-outline status"></span>
          </div>
        </div>
      </li>

    </ul>
  </tab>

  <tab id="mentions">
    <tab-heading>
      <fa name="at"></fa>
    </tab-heading>

    <h6>Mentions
      <a class="pull-right" ng-click="hideMention()" ng-if="mentionsScope.mentionShowed"><i class="icon-close"/></a>
    </h6>

    <div ng-if="!mentionsScope.mentionShowed">
      <ul class="mentions" ng-init="mentionsScope.filter={type:'@'};mentionsScope.empty=true">
        <li ng-repeat="post in posts | filter:mentionsScope.filter">
          <div class="media" ng-init="mentionsScope.empty=false">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <small>{{post.body}}</small><br/>
              <a class="read-more" ng-click="showMention(post)">View more</a>
            </div>
          </div>
        </li>
      </ul>

      <span ng-if="mentionsScope.empty">There's no mentions about you yet.</span>
    </div>

    <div ng-if="mentionsScope.mentionShowed">
      <ul>
        <li>
          <div class="media">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{mention.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{mention.user.firstname}} <strong>{{mention.user.lastname}}</strong></span>
              <span>{{mention.body}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </tab>

  <tab id="events">
    <tab-heading>
      <fa name="calendar"></fa>
    </tab-heading>

    <h6>Events
      <a class="pull-right" ng-click="newEvent()" ng-class="{hidden: eventsScope.eventShowed}"><i class="icon-plus"/></a>
      <a class="pull-right" ng-click="hideEvent()" ng-class="{hidden: !eventsScope.eventShowed}"><i class="icon-close"/></a>
    </h6>

    <div ng-if="!eventsScope.eventShowed">
      <ul class="events" ng-init="eventsScope.filter={type:'e'};eventsScope.empty=true">
        <li ng-repeat="post in posts | filter:eventsScope.filter">
          <div class="media" ng-init="eventsScope.empty=false">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <small>{{post.body}}</small><br/>
              <a class="read-more" ng-click="showEvent(post)">View more</a>
            </div>
          </div>
        </li>
      </ul>

      <span ng-if="eventsScope.empty">There's no events yet.</span>
      <div class="new-post"><button type="button" class="btn btn-greensea" ng-click="newEvent()">Click here to create your event</button></div>

      <script type="text/ng-template" id="createEventModalContent.html">
                <div class="modal-header p-30 pb-0">
                  <h3 class="modal-title custom-font">Create your event</h3>
                </div>
                <div class="modal-body p-30">
                    <div class="mb-10">
                      <span>Title</span><br/>
                      <input type="text" class="form-control" ng-model="title">
                    </div>
                    <div class="mb-10">
                      <span>Information about the event</span><br/>
                      <textarea class="form-control" ng-model="info"></textarea>
                    </div>
                    <div class="mb-10">
                      <span>Location</span><br/>
                      <input type="text" class="form-control" ng-model="location">
                    </div>
                    <div class="row">
                      <div class="col-sm-4 col-xs-12 mt-5 pt-10" ng-controller="DatepickerCtrl">

                            <span>Date & Time</span><br/>
                            <p class="input-group">
                              <input type="text" id="event_date" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                              </span>
                            </p>
                      </div>

                      <div class="col-sm-4 col-xs-12" ng-controller="TimepickerCtrl" id="event_timepicker">

                        <timepicker ng-model="$parent.mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                      </div>

                      <div class="col-sm-4 col-xs-12 mt-5 pt-10">
                        <span>Price</span><br/>
                        <button type="button" class="btn btn-default mr-10 mb-10" ng-click="free=(free==true)?false:true"><i class="fa fa-check" ng-if="free==true"/><i class="fa fa-check" ng-if="free==false" style="opacity:0"/></span></button><span class="mr-10 mb-10">Free</span>
                        <input type="text" class="form-control inline-block" ng-model="price" ng-disabled="free==true" style="width:100px"/>
                      </div>
                    </div>
                </div>
                <div class="modal-footer pr-30">
                  <button class="btn btn-greensea btn-lg" ng-click="create()">Create event</button>
                </div>
              </script>
    </div>

    <div ng-if="eventsScope.eventShowed">
      <ul>
        <li>
          <div class="media">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{event.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{event.user.firstname}} <strong>{{event.user.lastname}}</strong></span>
              <span><strong>Title:</strong> {{event.body}}</span><br/><br/>
              <span ng-if="event.info"><strong>Info:</strong> <span ng-bind-html="event.info"></span></span><br/><br/>
              <span ng-if="event.location"><strong>Location:</strong> {{event.location}}</span><br/><br/>
              <span ng-if="event.date"><strong>Date:</strong> {{event.date}}</span><br/><br/>
              <span ng-if="event.time"><strong>Time:</strong> {{event.time}}</span><br/><br/>
              <span ng-if="event.price"><strong>Price:</strong> {{event.price}}</span><br/>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </tab>

  <tab id="polls">
    <tab-heading>
      <fa name="bar-chart-o"></fa>
    </tab-heading>

    <h6>Polls
      <a class="pull-right" ng-click="newPoll()" ng-class="{hidden: pollsScope.pollShowed}"><i class="icon-plus"/></a>
      <a class="pull-right" ng-click="hidePoll()"  ng-class="{hidden: !pollsScope.pollShowed}"><i class="icon-close"/></a>
    </h6>

    <div ng-if="!pollsScope.pollShowed">
      <ul class="polls" ng-init="pollsScope.filter={type:'p'};pollsScope.empty=true">
        <li ng-repeat="post in posts | filter:pollsScope.filter">
          <div class="media" ng-init="pollsScope.empty=false">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <small>{{post.body}}</small><br/>
              <a class="read-more" ng-click="showPoll(post)">View more</a>
            </div>
          </div>
        </li>
      </ul>

      <span ng-if="pollsScope.empty">There's no polls yet.</span>
      <div class="new-post"><button type="button" class="btn btn-greensea" ng-click="newPoll()">Click here to create your poll</button></div>

      <script type="text/ng-template" id="createPollModalContent.html">
                <div class="modal-header p-30 pb-0">
                  <h3 class="modal-title custom-font">Create your poll</h3>
                </div>
                <div class="modal-body p-30">
                  <ul class="list-unstyled">
                    <li class="mb-10">
                      <span>Question</span><br/>
                      <input type="text" class="form-control" ng-model="question">
                    </li>
                    <li ng-repeat="option in options" class="mb-10">
                      <span>Option {{$index+1}}</span><br/>
                      <input type="text" class="form-control" ng-model="option.title">
                    </li>
                  </ul>
                  <span class="pull-right">add question<a class="icon icon-default trasparent icon-ef-1 icon-ef-1a" ng-click="addQuestion()"><i class="fa fa-plus"/></a></span>
                </div>
                <div class="modal-footer pr-30" style="clear:both">
                  <button class="btn btn-greensea btn-lg" ng-click="create()">Create poll</button>
                </div>
              </script>
    </div>

    <div ng-if="pollsScope.pollShowed">
      <h5><strong>Question:</strong> {{poll.body}}</h5>
      <span ng-repeat="option in poll.options">
        <input type="radio" name="option" ng-model="pollsScope.selectedPollOption" ng-value="$index" class="mr-10"/>{{option.title}}<br/>
      </span>
      <hr/>

      <h5 class="text-danger">Result of User Votes:</h5>
      <span ng-repeat="option in poll.options" ng-init="pollsScope.progressbarColorSet=['greensea','warning','danger'];">
        {{option.title}} ({{Math.round(10000*option.votes/pollsScope.pollTotalVotes)/100}}%)<br/>
        <progressbar class="progress-xs not-rounded mt-5" value="Math.round(100*option.votes/pollsScope.pollTotalVotes)" type="{{pollsScope.progressbarColorSet[$index%3]}}"></progressbar>
      </span>
      <hr/>
      <button type="button" class="btn btn-success btn-rounded btn-sm" ng-click="submitVote(poll)"><i class="fa fa-bell mr-5"/>Mark Your Vote</button>
    </div>
  </tab>

  <tab id="questions">
    <tab-heading>
      <fa name="question"></fa>
    </tab-heading>

    <h6>Questions
      <a class="pull-right" ng-click="newQuestion()" ng-class="{hidden: questionsScope.questionShowed}"><i class="icon-plus"/></a>
      <a class="pull-right" ng-click="hideQuestion()" ng-class="{hidden: !questionsScope.questionShowed}"><i class="icon-close"/></a>
    </h6>

    <div ng-if="!questionsScope.questionShowed">
      <ul class="questions" ng-init="questionsScope.filter={type:'q'};questionsScope.empty=true">
        <li ng-repeat="post in posts | filter:questionsScope.filter">
          <div class="media" ng-init="questionsScope.empty=false">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <small>{{post.body}}</small><br/>
              <a class="read-more" ng-click="showQuestion(post)">View more</a>
            </div>
          </div>
        </li>
      </ul>

      <span ng-if="questionsScope.empty">There's no questions yet.</span>
      <div class="new-post"><button type="button" class="btn btn-greensea" ng-click="newQuestion()">Click here to create your question</button></div>
    </div>

    <div ng-if="questionsScope.questionShowed">
      <ul class="q-a">
        <li>
          <div class="media">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{question.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{question.user.firstname}} <strong>{{question.user.lastname}}</strong></span>
              <span>{{question.body}}</span>
            </div>
          </div>
        </li>
        <li>
          <span>Answers</span>
        </li>
        <li ng-repeat="post in question.answers">
          <div class="media">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <span>{{post.body}}</span>
            </div>
          </div>
        </li>
      </ul>

      <div class="new-answer">
        <div class="input-group">
          <input type="text" id="new_answer_input" class="form-control" placeholder="Write your answer here..." ng-model="newAnswer">
          <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="submitAnswer()">Answer</button></span>
        </div>
      </div>

    </div>

  </tab>

  <tab id="pinned_items">
    <tab-heading>
      <fa name="thumb-tack"></fa>
    </tab-heading>

    <h6>Pinned Items</h6>

    <ul class="pinned-items" ng-init="pinnedItemsScope.filter={pinned:true};pinnedItemsScope.empty=true">
      <li ng-repeat="post in posts | filter:pinnedItemsScope.filter">
        <div class="media" ng-init="pinnedItemsScope.empty=false">
          <a class="pull-left thumb thumb-sm" href="javascript:;">
            <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
          </a>
          <div class="media-body">
            <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
            <small>{{post.body}}</small><br/>
            <a class="read-more" ng-click="showPinnedItem(post)">View more</a>
          </div>
        </div>
      </li>
    </ul>
  </tab>

  <tab id="sales">
    <tab-heading>
      <fa name="dollar"></fa>
    </tab-heading>

    <h6>Sales
      <a class="pull-right" ng-click="newSale()" ng-class="{hidden: salesScope.saleShowed}"><i class="icon-plus"/></a>
      <a class="pull-right" ng-click="hideSale()" ng-class="{hidden: !salesScope.saleShowed}"><i class="icon-close"/></a>
    </h6>

    <div ng-if="!salesScope.saleShowed">
      <ul class="sales" ng-init="salesScope.filter={type:'s'};salesScope.empty=true">
        <li ng-repeat="post in posts | filter:salesScope.filter">
          <div class="media" ng-init="salesScope.empty=false">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{post.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{post.user.firstname}} <strong>{{post.user.lastname}}</strong></span>
              <small>{{post.body}}</small><br/>
              <a class="read-more" ng-click="showSale(post)">View more</a>
            </div>
          </div>
        </li>
      </ul>

      <span ng-if="salesScope.empty">There's no sales yet.</span>
      <div class="new-post"><button type="button" class="btn btn-greensea" ng-click="newSale()">Click here to create your sale</button></div>

      <script type="text/ng-template" id="createSaleModalContent.html">
                <div class="modal-header p-30 pb-0">
                  <h3 class="modal-title custom-font">Create your sale</h3>
                </div>
                <div class="modal-body p-30" ng-init="init()">
                  <ul class="list-unstyled">
                    <li class="mb-10">
                      <span>Title</span><br/>
                      <input type="text" class="form-control" ng-model="title">
                    </li>
                    
                    <li class="mb-10">
                      <span>Price</span><br/>
                      <input type="text" class="form-control" ng-model="price">
                    </li>
                    
                    <li class="mb-10">
                      <span>Photo</span><br/>
                      <input ui-jq="filestyle" type="file" class="filestyle" ui-options="{
                        buttonText: 'Select image',
                        iconName: 'fa fa-file-image-o'
                      }" id="salePhotoInput">

                      <div class="btn-group mt-20">
                        <label class="btn btn-default" ng-model="cropType" btn-radio="'circle'">Circle</label>
                        <label class="btn btn-default" ng-model="cropType" btn-radio="'square'">Square</label>
                      </div>

                      <div class="row">
                        <div class="col-md-8">

                          <div class="p-10 bg-white b-a b-solid" style="height:320px">
                            <img-crop
                              image="myImage"
                              result-image="myCroppedImage"
                              result-image-size="160"
                              area-type="{{cropType}}"
                            ></img-crop>
                          </div>

                        </div>
                        <div class="col-md-4">
                          <div class="p-10 bg-white b-a b-solid inline-block">
                            <img ng-src="{{myCroppedImage}}" />
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer pr-30" style="clear:both">
                  <button class="btn btn-greensea btn-lg" ng-click="create()">Create sale</button>
                </div>
              </script>
    </div>

    <div ng-if="salesScope.saleShowed">
      <ul>
        <li>
          <div class="media">
            <a class="pull-left thumb thumb-sm" href="javascript:;">
              <img class="media-object img-circle" src="{{sale.user.avatar}}" alt>
            </a>
            <div class="media-body">
              <span class="media-heading">{{sale.user.firstname}} <strong>{{sale.user.lastname}}</strong></span>
              <span><strong>Title:</strong> {{sale.body}}</span><br/>
            </div>
          </div>
        </li>
      </ul>
      <div ng-if="sale.photo" class="p-10 bg-white b-a b-solid"><img src="{{sale.photo}}" style="max-width:100%"/></div><br/>
      <span ng-if="sale.price"><strong>Price:</strong> {{sale.price}}</span><br/>
    </div>
  </tab>

  
</tabset>
