<div class="page page-channel page-full" ng-init="resize()">

  <!-- page header -->
  <div class="pageheader p-15 bg-white b-b">

    <h3 class="custom-font m-0">#{{currentChannel.title}}</h3>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent p-30">
    <div class="streamline">

      <div class="streamline-form-wrapper">
        <div class="streamline-form" ng-controller="AddPostCtrl">
          <div class="thumb thumb-sm"><img class="img-circle" src="images/profile-photo.jpg" alt=""></div>
          <form>
            <div class="input-group">
              <input type="text" id="new_post_input" class="form-control" placeholder="Write your comment here" ng-model="newPost" ui-items="suggestions">
              <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="addImage()" ng-class="{active: imageAttached==true}"><i class="fa fa-image"/></button><button class="btn btn-default" type="button" ng-click="submitPost()">Post</button></span>
            </div>
            <div class="what-to-do mt-5" style="margin-right:-30px">
              <span class="inline-block mr-20 text-italic">What do you want to do:</span>
              <a tooltip="Mention someone" ng-class="{active: selectedNewPostType=='@'}" ng-click="selectMention()"><i name="at" class="fa fa-at"></i></a>
              <a tooltip="Event" ng-class="{active: selectedNewPostType=='e'}" ng-click="selectEvent()"><i name="at" class="fa fa-calendar"></i></a>
              <a tooltip="Poll" ng-class="{active: selectedNewPostType=='p'}" ng-click="selectPoll()"><i name="at" class="fa fa-bar-chart-o"></i></a>
              <a tooltip="Question" ng-class="{active: selectedNewPostType=='q'}" ng-click="selectQuestion()"><i name="at" class="fa fa-question"></i></a>
              <a tooltip="Sale" ng-class="{active: selectedNewPostType=='s'}" ng-click="selectSale()"><i name="at" class="fa fa-dollar"></i></a>
            </div>
          </form>
        </div>
      </div>

      <article class="streamline-post" ng-repeat="post in posts | reverse" on-finish-render id="post-{{$index+1}}" ng-controller="PostCtrl">


        <aside>
          <div class="thumb thumb-sm">
            <img class="img-circle" src="{{post.user.avatar}}" alt="">
          </div>
        </aside>

        <div class="post-container">

          <div class="panel panel-default">
            <div class="panel-heading bg-white">
              {{post.user.firstname + ' ' + post.user.lastname}} 
              <span class="label bg-primary" ng-if="post.type=='q'">Question</span>
              <span class="label bg-drank" ng-if="post.type=='p'">Poll</span>
              <span class="label bg-success" ng-if="post.type=='e'">Event</span>
              <span class="label bg-warning" ng-if="post.type=='@'">Mention</span>
              <span class="label bg-hotpink" ng-if="post.type=='s'">Sales</span>
              <span class="edit-post pull-right text-muted">
                <span ng-if="(['q','e','p','s','@','g'].indexOf(post.type)>-1)" ng-click="editPost()" class="mr-10">
                  <i class="fa fa-edit mr-5"></i> Edit your 
                  <span ng-if="post.type=='q'">Question</span>
                  <span ng-if="post.type=='e'">Event</span>
                  <span ng-if="post.type=='p'">Poll</span>
                  <span ng-if="post.type=='s'">Sale</span>
                  <span ng-if="post.type=='@'">Mention</span>
                  <span ng-if="post.type=='g'">Post</span>
                </span>
                <span ng-click="deletePost()"><i class="fa fa-eraser mr-5" /> Delete</span>
              </span>
              
              <span class="text-muted pull-right timeline"><i class="fa fa-clock-o mr-5"></i> {{post.timeline}}</span>
            </div>
            <div class="panel-body">
              <div class="body-container"></div>

              <p class="mt-10 mb-0">
                <button type="button" class="btn btn-default btn-xs" ng-if="!post.pinned && post.type!='g'" ng-click="setPinned(post)"><i class="fa fa-thumb-tack"/> Pin This</button>
                <button type="button" class="btn btn-default btn-xs active" ng-if="post.pinned && post.type" ng-click="unsetPinned(post)"><i class="fa fa-thumb-tack text-danger"/> Pinned</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='q'" ng-click="showQuestion(post)"><i class="fa fa-eye"/> Show Answers</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="answerPoll(post)"><i class="fa fa-bar-chart-o"/> Answer Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="showPoll(post)"><i class="fa fa-bar-chart-o"/> View Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='e'" ng-click="showEvent(post)"><i class="fa fa-calendar"/> View Event Details</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='s'" ng-click="showSale(post)"><i class="fa fa-dollar"/> View Sales Details</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.user=='s'" ng-click="editPost()"><i class="fa fa-pen"/> Edit</button>
                <span ng-if="(['e','s','@'].indexOf(post.type)>-1)">
                  <button type="button" class="btn btn-default btn-xs" ng-click="replyPost()"><i class="fa fa-mail-reply"/> Reply</button>
                  <button type="button" class="btn btn-default btn-xs" ng-click="viewConversation()" ng-if="!showConversation"><i class="fa fa-comment"/> View Conversation</button>
                  <button type="button" class="btn btn-default btn-xs" ng-click="hideConversation()" ng-if="showConversation"><i class="fa fa-comment"/> Hide Conversation</button>
                </span>
                <button type="button" class="btn btn-default btn-xs" ng-click="addImage()" ng-if="(['q','e','p','g'].indexOf(post.type)>-1)"><i class="fa fa-image"/> Add Image</button><div id="container"></div>
              </p>
            </div>
          </div>

          <ul class="list-unstyled post-replies" ng-class="{empty: post.replies.length==0}" ng-if="showConversation">

            <li ng-if="post == currentChannel.selectedPostToReply" ng-controller="ReplyCtrl">

              <aside>
                <div class="thumb thumb-sm">
                  <img class="img-circle" src="images/profile-photo.jpg" alt="">
                </div>
              </aside>

              <div style="padding-left:55px">
                <div class="panel panel-default">

                    <form>
                      <div class="input-group">
                        <input type="text" id="reply_post_input" class="form-control" placeholder="Write your comment here" ng-model="newReply">
                        <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="submitReply()">Submit</button></span>
                      </div>
                    </form>

                </div>
              </div>

            </li>

            <li ng-repeat="post in post.replies | reverse" ng-controller="CommentCtrl">

              <aside>
                <div class="thumb thumb-sm">
                  <img class="img-circle" src="{{post.user.avatar}}" alt="">
                </div>
              </aside>

              <div class="reply-container">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p>
                      <strong>{{post.user.firstname + ' ' + post.user.lastname}}</strong>
                      <span class="text-muted pull-right edit-comment">
                        <span ng-click="editComment()" class="mr-10"><i class="fa fa-edit mr-5"></i> Edit your comment</span>
                        <span ng-click="deleteComment()"><i class="fa fa-eraser mr-5" /> Delete</span>
                      </span>
                      <span class="text-muted pull-right timeline"><i class="fa fa-clock-o mr-5"></i> {{post.timeline}}</span>
                    </p>

                    <p class="mb-0 text-small comment-container">{{post.body}}</p>
                  </div>
                </div>
              </div>

            </li>

          </ul>

        </div>

      </article>

      
    </div>

  </div>
  <!-- /page content -->

</div>