<div class="page page-channel page-full" ng-init="resize()">

  <!-- page header -->
  <div class="pageheader p-15 bg-white b-b">

    <h3 class="custom-font m-0">#{{currentChannel.title}}</h3>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent p-30" style="margin-bottom: 90px">
    <div class="streamline">

      <article class="streamline-post" ng-repeat="post in posts" on-finish-render id="post-{{$index+1}}">


        <aside>
          <div class="thumb thumb-sm">
            <img class="img-circle" src="{{post.user.avatar}}" alt="">
          </div>
        </aside>

        <div class="post-container">

          <div class="panel panel-default">
            <div class="panel-heading bg-white">
              {{post.user.firstname + ' ' + post.user.lastname}} 
              <span class="label bg-primary" ng-if="post.type=='q'">Question</span>
              <span class="label bg-drank" ng-if="post.type=='p'">Poll</span>
              <span class="label bg-success" ng-if="post.type=='e'">Event</span>
              <span class="label bg-warning" ng-if="post.type=='@'">Mention</span>
              <span class="label bg-hotpink" ng-if="post.type=='s'">Sales</span>
              <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> {{post.timeline}}</span>
            </div>
            <div class="panel-body">
              {{post.body}}

              <p class="mt-10 mb-0">
                <button type="button" class="btn btn-default btn-xs" ng-if="!post.pinned && post.type" ng-click="setPinned(post)"><i class="fa fa-thumb-tack"/> Pin This</button>
                <button type="button" class="btn btn-default btn-xs active" ng-if="post.pinned && post.type" ng-click="unsetPinned(post)"><i class="fa fa-thumb-tack text-danger"/> Pinned</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='q'" ng-click="showQuestion(post)"><i class="fa fa-eye"/> Show Answers</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='q'" ng-click="replyQuestion(post)"><i class="fa fa-mail-reply"/> Reply</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="answerPoll(post)"><i class="fa fa-bar-chart-o"/> Answer Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="showPoll(post)"><i class="fa fa-bar-chart-o"/> View Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='e'" ng-click="showEvent(post)"><i class="fa fa-calendar"/> View Event Details</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='s'" ng-click="showSale(post)"><i class="fa fa-dollar"/> View Sales Details</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.user=='s'" ng-click="editPost(post)"><i class="fa fa-pen"/> Edit</button>
              </p>
            </div>
          </div>
        </div>

      </article>

      <div class="streamline-form-wrapper">
        <div class="streamline-form" ng-controller="AddPostCtrl">
          <div class="thumb thumb-sm"><img class="img-circle" src="images/profile-photo.jpg" alt=""></div>
          <form>
            <div class="input-group">
              <input type="text" id="new_post_input" class="form-control" placeholder="Write your comment here" ng-model="newPost" auto-complete ui-items="suggestions">
              <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="submitPost()">Post</button></span>
            </div>
            <div class="what-to-do mt-5" style="margin-right:-30px">
              <span class="inline-block mr-20 text-italic">What do you want to do:</span>
              <a tooltip="Mention someone" ng-class="{active: selectedNewPostType=='@'}" ng-click="selectMention()"><i name="at" class="fa fa-at"></i></a>
              <a tooltip="Event" ng-class="{active: selectedNewPostType=='e'}" ng-click="selectEvent()"><i name="at" class="fa fa-calendar"></i></a>
              <a tooltip="Poll" ng-class="{active: selectedNewPostType=='p'}" ng-click="selectPoll()"><i name="at" class="fa fa-bar-chart-o"></i></a>
              <a tooltip="Question" ng-class="{active: selectedNewPostType=='q'}" ng-click="selectQuestion()"><i name="at" class="fa fa-question"></i></a>
              <a tooltip="Sale" ng-class="{active: selectedNewPostType=='s'}" ng-click="selectSale()"><i name="at" class="fa fa-dollar"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- /page content -->

</div>