<div class="page page-channel page-full">

  <!-- page header -->
  <div class="pageheader p-15 bg-white b-b">

    <h3 class="custom-font m-0">#{{currentChannel.title}}</h3>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent p-30">
    <div class="streamline mt-20">

      <article class="streamline-post" ng-repeat="post in posts">


        <aside>
          <div class="thumb thumb-sm">
            <img class="img-circle" src="{{post.user.avatar}}" alt="">
          </div>
        </aside>

        <div class="post-container">

          <div class="panel panel-default">
            <div class="panel-heading bg-white">
              {{post.user.firstname + ' ' + post.user.lastname}} 
              <span class="label bg-primary" ng-if="post.type=='q'">Question</span>
              <span class="label bg-drank" ng-if="post.type=='p'">Poll</span>
              <span class="label bg-success" ng-if="post.type=='e'">Event</span>
              <span class="label bg-warning" ng-if="post.type=='@'">Mention</span>
              <span class="label bg-hotpink" ng-if="post.type=='s'">Sales</span>
              <span class="text-muted pull-right"><i class="fa fa-clock-o mr-5"></i> {{post.timeline}}</span>
            </div>
            <div class="panel-body">
              {{post.body}}

              <p class="mt-10 mb-0">
                <button type="button" class="btn btn-default btn-xs" ng-if="!post.pinned && post.type" ng-click="setPinned(post)"><i class="fa fa-thumb-tack"/> Pin This</button>
                <button type="button" class="btn btn-default btn-xs active" ng-if="post.pinned && post.type" ng-click="unsetPinned(post)"><i class="fa fa-thumb-tack text-danger"/> Pinned</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='q'" ng-click="showQuestion(post)"><i class="fa fa-eye"/> Show Answers</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='q'" ng-click="replyQuestion(post)"><i class="fa fa-mail-reply"/> Reply</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="showPoll(post)"><i class="fa fa-bar-chart-o"/> Answer Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='p'" ng-click="showPoll(post)"><i class="fa fa-bar-chart-o"/> View Poll</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='e'" ng-click="showEvent(post)"><i class="fa fa-calendar"/> View Event Details</button>
                <button type="button" class="btn btn-default btn-xs" ng-if="post.type=='s'" ng-click="showSale(post)"><i class="fa fa-dollar"/> View Sales Details</button>
              </p>
            </div>
          </div>
        </div>

      </article>

      <div class="streamline-form pb-30">
        <div class="thumb thumb-sm"><img class="img-circle" src="images/profile-photo.jpg" alt=""></div>
        <form>
          <div class="input-group">
            <input type="text" id="new_post_input" class="form-control" placeholder="Write your comment here" ng-model="newPost" auto-complete ui-items="suggestions">
            <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="submitPost()">Post</button></span>
          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- /page content -->

</div>